.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-wrapper {
  font-family: 'Poppins', sans-serif;
  width: 850px;
  height: 425px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 40px auto;
  background-image: url("https://t4.ftcdn.net/jpg/02/95/88/87/360_F_295888748_8vDpsrrjsAcPfkLlHfQw4t6VHBlG8jR7.jpg");
  /* background-image: url("https://www.crushpixel.com/big-static19/preview4/light-wood-background-white-wood-3558995.jpg"); */
  background-color: #fff;
  /* opacity: .8; */
  overflow: hidden;
}

span {
  position: relative;
}

span img {
  position: absolute;
  height: 9.35rem;
}

span.dmt img{
  height: 11.5rem;
  left: -1.5rem;
}

span.tap img{
  height: 3.875rem;
  left: 2.35rem;
  top: 13.5rem;
  transform: scaleX(-1.3) rotate(2deg);
}

span.sink img{
  left: 11rem;
  height: 12.5rem;
  top: -3.5rem;
}

.company {
  text-align: center;
  position: relative;
  padding: 6rem;
}

.company .title {
  font-size: 2.75rem;
  margin-top: 0.5rem;
  letter-spacing: .35rem;
  color: #111;
}
h2 , p{
  margin: 0px;
  letter-spacing: .35rem;
}

.sales-person {
  font-size: 2.2rem;
  font-weight: 600;
  color: #222;
  /* font-family: 'Roboto', sans-serif; */
}

.role {
  font-size: 1.35rem;
  font-weight: 600;
  color: #222;
}

.phone, .location {
  color: #222;
  font-weight: 600;
  font-size: 1.175rem;
}

span.shower-mixer img{
  top: -0.45rem;
  left: 37.25rem;
  height: 14.5rem;
  transform: scaleX(-1.3) rotate(0deg);
}

span.door-lock img{
  top: -7rem;
  left: 0.75rem;
}

span.toilet img{ 
  left: 42.25rem;
    top: -10rem;
    height: 12.5rem;
}


span.towel-holder img {
  height: 12.5rem;
    left: 27.75rem;
    top: -2.5rem;
    transform: rotate(352.5deg);
}

span.curtain-holder img {
  top: -6.9rem;
  left: 13.5rem;
  height: 9.65rem;
}

span.soap-dispenser img {
  top: -5.15rem;
  left: 26.5rem;
  height: 6.25rem;
  display: none;
}

span.tissue-holder img {
  top: -5.15rem;
    left: 35.5rem;
    height: 6.875rem;
}

span.gate-valve img {
  top: -5.15rem;
  left: 26.5rem;
  height: 6.5rem;
  
}
