.card-wrapper {
    font-family: 'Poppins', sans-serif;
    width: 785px;
    height: 425px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin: 40px auto;
    /* background-image: url("../../assets/new-bg.png"); */
    background-image: url("https://t4.ftcdn.net/jpg/02/95/88/87/360_F_295888748_8vDpsrrjsAcPfkLlHfQw4t6VHBlG8jR7.jpg");
    background-size: cover;
    background-color: #fff;
    overflow: hidden;
    padding: 2px;
  }
  
  span {
    position: relative;
  }
  
  span img {
    position: absolute;
    height: 9.35rem;
  }
  
  span.dmt img{
    height: 11.5rem;
    left: -2.15rem;
  }
  
  span.tap img{
    height: 3.875rem;
    left: 1.5rem;
    top: 13.5rem;
    transform: scaleX(-1.3) rotate(2deg);
  }
  
  span.sink img{
    left: 8.75rem;
    height: 12.5rem;
    top: -3.5rem;
  }
  
  .company {
    text-align: center;
    position: relative;
    padding: 6rem;
  }
  
  .company .title {
    font-size: 2.75rem;
    margin-top: 0.5rem;
    letter-spacing: .35rem;
    color: #111;
  }
  h2 , p{
    margin: 0px;
    letter-spacing: .35rem;
  }
  
  .sales-person {
    font-size: 2.2rem;
    font-weight: 600;
    color: #222;
    /* font-family: 'Roboto', sans-serif; */
  }
  
  .role {
    font-size: 1.35rem;
    font-weight: 600;
    color: #222;
  }
  
  .phone, .location {
    color: #222;
    font-weight: 600;
    font-size: 1.175rem;
  }
  
  span.shower-mixer img{
    top: -0.45rem;
    left: 33.675rem;
    height: 14.5rem;
    transform: scaleX(-1.3) rotate(0deg);
  }
  
  span.door-lock img{
    top: -7rem;
    left: 0.25rem;
  }
  
  span.toilet img{ 
    left: 38.15rem;
    top: -10rem;
    height: 12.5rem;
  }
  
  
  span.towel-holder img {
    height: 12.5rem;
    left: 25.75rem;
    top: -2.5rem;
    transform: rotate(352.5deg);
  }
  
  span.curtain-holder img {
    top: -6.9rem;
    left: 11.5rem;
    height: 9.65rem;
  }
  
  span.soap-dispenser img {
    top: -5.15rem;
    left: 26.5rem;
    height: 6.25rem;
    display: none;
  }
  
  span.tissue-holder img {
    top: -5.15rem;
    left: 32.5rem;
    height: 6.875rem;
  }
  
  span.gate-valve img {
    top: -5.15rem;
    left: 23.5rem;
    height: 6.5rem;
  }
